.stats {
    margin-bottom: 1rem;
    border-right: 2px solid #fff0;
}

.avatarIcon {
    width: 60px;
    height: 60px;
}

iframe {
    width: 500px;    
    }
.productImage img {
    width: 100%;
    object-fit: cover;
    height: 530px;
}
.thumbnail-img{
    position: relative;
    display: inline-block;
    width: fit-content;
}
.thumbnail-img input{
    display: none;
}

.thumbnail-img label{
    font-size: 14px;
    background: var(--primaryColor);
    color: #fff;
    border-radius: 99px;
    width: 30px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -5px;
    right: -5px;
    cursor: pointer;
}
.thumbnail-img img {
    width: 90px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    outline: 2px solid #bcbcbc;
    outline-offset: 4px;
}

.font-weight-bold {
    font-weight: bold;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .stats, .stats:not(:last-child) {
        border-color: #fff0;
    }

    .stats:nth-child(odd) {
        border-color: #000;
    }
}

@media screen and (max-width: 767px) {
    .stats, .stats:not(:last-child), .stats:nth-child(odd) {
        border-color: #fff0;
    }
}




